.jca-card {
  border-radius: $default_radius;
  background: $white;
  overflow: hidden;
  box-shadow: $default_shadow;

  &__header {
    height: 60px;
    display: flex;
    align-items: center;
    padding: $default_padding;
    font-weight: 800;
    text-transform: uppercase;

    &-text {
      flex: 3;
      height: inherit;
      display: flex;
      align-items: center;
    }
  
    &-actions {
      flex: 1;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }

  &__content {
    padding: 30px;

    &--border {
      border-top: 1px solid #F5F5FA;
    }
  }

  &__footer {
    padding: $default_padding;
    background: darken($white, 3%);
  }
}
