.jca-card-feed {
  border-radius: $default_radius;
  background: $white;
  overflow: hidden;
  margin-bottom: 20px;
  box-shadow: $default_shadow;

  &__author {
    padding: $default_padding;
    font-size: 0.9em;

    &-name {
      font-weight: 700;
    }

    &-meta {
      font-style: italic;
      color: darken($white, 30%);
    }
  }

  &__media {
    img {
      width: 100%;
    }
  }

  &__tags {
    padding: $default_padding;
    font-size: 0.9em;
    background-color: $grey;

    a {
      display: inline-block;
      margin-right: 8px;
    }
  }

  &__content {
    padding: $default_padding;
    padding-top: 0;
    font-size: 0.9em;
  }

  &__actions {
    background-color: darken($white, 3%);
    display: flex;
    font-size: 0.8em;
    text-transform: uppercase;

    &-item {
      padding: $light_padding;
      flex: 1;
      display: flex;
      align-items: center;
      max-width: 50%;
      justify-content: center;
      cursor: pointer;

      &:hover {
        font-weight: 700 !important;
        text-decoration: none;
      }
    }

    &-icon {
      font-size: 1.2em;
      margin-right: 8px;
    }
  }
}
