.jca-card-tags {
  border-radius: $default-radius;
  background: $white;
  overflow: hidden;
  box-shadow: $default_shadow;
  margin-bottom: 20px;

  &__header {
    height: 60px;
    display: flex;
    align-items: center;
    padding: 30px;
    font-weight: 700;
    text-transform: uppercase;

    &-text {
      flex: 3;
      height: inherit;
      display: flex;
      align-items: center;
    }
  
    &-actions {
      flex: 1;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  &__item {
    padding: 15px;
    box-sizing: border-box;
    border-right: $default_border;
    border-top: $default_border;
    display: flex;
    align-items: center;
    font-size: 0.8em;
    text-transform: uppercase;

    &:hover {
      background: darken(white, 2%);
      font-weight: 700;
    }
  }

  &--2-col {
    .jca-card-tags__items {
      grid-template-columns: 1fr 1fr;
    }
  }

  &--3-col {
    .jca-card-tags__items {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  &--4-col {
    .jca-card-tags__items {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  &--5-col {
    .jca-card-tags__items {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
  }
}
