.jca-page-header {
  margin-bottom: 40px;
  position: relative;

  &__title {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: -1px;
    color: $black;
    position: relative;
  }

  &__icon {
    display: inline-block;
    margin-right: 10px;
    font-size: 24px;
  }

  &__subtitle {
    text-transform: uppercase;
  }
}
