.jca-table {
  width: 100%;
  display: table;
  margin: 0;
  background: $white;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: $default_shadow;
  margin-bottom: 20px;
  table-layout: fixed;

  &__row {
    display: table-row;
    background: $white;
  }
}

.jca-table__header {
  color: $primary;
  font-weight: 700;
  background: $grey;
  font-size: 0.9em;
}

.jca-table__cell {
  display: table-cell;
  padding: 15px;
}

.jca-table__row .jca-table__cell {
  color: #666;
  border-top: $default_border;
  border-right: $default_border;

  &:last-child {
    border-right: none;
  }
}

.jca-table__header .jca-table__cell {
  text-transform: uppercase;
  font-weight: 700;
  border-right: $default_border;
  border-top: none;
}

.jca-table,
.jca-table__row {
  width: 100% !important;
}

.jca-table__cell .btn {
  font-size: 10px;
}

.jca-table__cell.prev-month,
.jca-table__cell.next-month {
  background: darken($grey, 4%);
  border-right: $default_border;
  border-bottom: none;
}

.jca-table__cell.today {
  background: #ecf6ff;
  color: #1a55af;
  font-weight: 700;
}
