.jca-nav-card {
  background: $white;
  list-style: none;
  border-radius: $default_radius;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  box-shadow: $default_shadow;
  margin-bottom: 20px;

  &__item {
    font-weight: 700;
    color: $black;
    display: flex;
    text-transform: uppercase;
    width: 100%;
    padding: 0;
    margin: 0;

    &-icon {
      flex: 1;
      max-width: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.5em;
    }

    &-link {
      color: $black;
      padding: 20px;
      padding-left: 0;
      display: block;
      flex: 1;

      &:hover {
        color: $black !important;
      }
    }

    &--active > &-link,
    &--active > &-icon {
      background:  $black;
      color: $white;
      font-weight: bold;

      &:hover {
        color: $white !important;
      }
    }
  }
}

.jca-nav-card__item:hover {
  color:  $black;
  display: flex;
  text-transform: uppercase;

  .jca-nav-card__item-link {
    color: $black !important;
    text-decoration: none;
  }
}

.jca-nav-card__item--active:hover {
  .jca-nav-card__item-link {
    color: $white !important;
  }
}
