.jca-card-tags {
  @include basic-card;

  &__header {
    height: 60px;
    display: flex;
    align-items: center;
    padding: 30px;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: $default_border;

    &-text {
      flex: 3;
      height: inherit;
      display: flex;
      align-items: center;
    }
  
    &-actions {
      flex: 1;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  &__item {
    padding: $light_padding;
    box-sizing: border-box;
    border-right: $default_border;
    border-bottom: $default_border;
    display: flex;
    align-items: center;
    font-size: 0.8em;
    text-transform: uppercase;

    &:hover {
      background: darken(white, 2%);
      font-weight: 700;
    }
  }

  &--2-col {
    .jca-card-tags__items {
      grid-template-columns: 1fr 1fr;

      .jca-card-tags__item {
        &:nth-child(2n + 1):nth-last-child(-n + 2),
        &:nth-child(2n + 1):nth-last-child(-n + 2) ~ .jca-card-tags__item {
          border-bottom: none;
        }

        &:nth-child(2n + 2) {
          border-right: none;
        }
      }
    }
  }

  &--3-col {
    .jca-card-tags__items {
      grid-template-columns: 1fr 1fr 1fr;

      .jca-card-tags__item {
        &:nth-child(3n + 1):nth-last-child(-n + 3),
        &:nth-child(3n + 1):nth-last-child(-n + 3) ~ .jca-card-tags__item {
          border-bottom: none;
        }

        &:nth-child(3n + 3) {
          border-right: none;
        }
      }
    }
  }

  &--4-col {
    .jca-card-tags__items {
      grid-template-columns: 1fr 1fr 1fr 1fr;

      .jca-card-tags__item {
        &:nth-child(4n + 1):nth-last-child(-n + 4),
        &:nth-child(4n + 1):nth-last-child(-n + 4) ~ .jca-card-tags__item {
          border-bottom: none;
        }

        &:nth-child(4n + 4) {
          border-right: none;
        }
      }
    }
  }

  &--5-col {
    .jca-card-tags__items {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      
      .jca-card-tags__item {
        &:nth-child(5n + 1):nth-last-child(-n + 5),
        &:nth-child(5n + 1):nth-last-child(-n + 5) ~ .jca-card-tags__item {
          border-bottom: none;
        }

        &:nth-child(5n + 5) {
          border-right: none;
        }
      }
    }
  }
}
