.jca-card-timeline {
  border-radius: 4px;
  background: $white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: $default_shadow;
  margin-bottom: 20px;

  &__header {
    height: 60px;
    display: flex;
    align-items: center;
    padding: 30px;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: $default_border;

    &-text {
      flex: 3;
      height: inherit;
      display: flex;
      align-items: center;
    }

    &-actions {
      flex: 1;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }

  &__item {
    &:nth-child(odd) {
      background-color: $grey;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: 700;
  }

  &__date {
    font-weight: 200;
    font-size: 0.9em;
    font-style: italic;
  }

  &__meta {
    display: flex;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  &__icon {
    flex: 1;
    max-width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
  }

  &__details {
    flex: 1;
  }

  &__content {
    padding: 30px;
    padding-top: 0;
    line-height: 23px;
  }
}
