.jca-card {
  border-radius: $default_radius;
  background: $white;
  overflow: hidden;
  box-shadow: $default_shadow;
  margin-bottom: 20px;

  img {
    width: 100%;
  }

  &__header {
    height: 60px;
    display: flex;
    align-items: center;
    padding: $default_padding;
    font-weight: 800;
    text-transform: uppercase;
    white-space: pre-line;

    &-text {
      flex: 3;
      height: inherit;
      display: flex;
      align-items: center;
    }

    &-actions {
      flex: 1;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }

  &__content {
    padding: $default_padding;

    &--border {
      border-top: $default_border;
    }
  }

  &__footer {
    padding: $default_padding;
    background: darken($white, 3%);
  }
}

.jca-card--dark {
  background: $black;
  color: $white;

  .jca-card__footer {
    background: darken($black, 1%);
  }

  .jca-card__content {
    &--border {
      border-top: 1px solid transparentize($white, 0.96);
    }
  }
}
