.jca-card-pricing {
  border-radius: $default_radius;
  background: $white;
  overflow: hidden;
  box-shadow: $default_shadow;
  margin-bottom: 20px;

  &--featured {
    box-shadow: $default_shadow;
    margin-top: -40px;
  }

  &__header {
    height: 100px;
    display: flex;
    align-items: center;
    padding: $default_padding;
    flex-direction: column;
    justify-content: center;

    &-main {
      font-weight: 700;
      text-transform: uppercase;
      font-size: 1.3em;
    }

    &-sub {
      text-transform: uppercase;
    }
  }

  &__price {
    text-align: center;
    display: flex;
    padding: $default_padding;
    background: $grey;
    flex-direction: column;
    border-top: 0.5px solid rgba(0, 0, 0, 0.15);
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.15);

    &-meta {
      align-items: flex-end;
      justify-content: center;
      flex-direction: row;
      display: flex;
      padding-right: 20px;
      font-size: 0.9em;
      text-transform: uppercase;
    }

    &-value {
      font-size: 3em;
      font-weight: 700;
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-currency {
      font-weight: bold;

      &::after {
        content: '///';
        margin-right: 10px;
        margin-left: 10px;
      }
    }
  }

  &__icon {
    margin-right: 20px;
    font-size: 1.5em;
  }

  &__features {
    padding: $default_padding;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        padding: 15px 10px;
        display: flex;
        align-items: center;
        border-bottom: 1px dashed rgba(0, 0, 0, 0.15);

        &:last-child {
          border: none;
        }
      }
    }
  }

  &__footer {
    padding: 30px 40px;
    text-align: center;

    .btn {
      border-radius: 100px;
      font-weight: 700;
      padding: 10px 40px;
      border: 1px solid darken($white, 5%);
    }
  }

  &__actions {
    background-color: darken($white, 3%);
    display: flex;
    font-size: 0.8em;
    text-transform: uppercase;

    &-item {
      padding: $default_padding;
      flex: 1;
      display: flex;
      align-items: center;
      max-width: 50%;
      justify-content: center;
      cursor: pointer;
      font-weight: 700;
      border-left: 0.5px solid rgba(0, 0, 0, 0.15);
      border-top: 0.5px solid rgba(0, 0, 0, 0.15);

      &:hover {
        font-weight: 700 !important;
        text-decoration: none;
      }

      &:first-child {
        border-left: none;
      }
    }

    &-icon {
      font-size: 1.2em;
      margin-right: 8px;
    }
  }
}
