.jca-layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 70px 1fr;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

.jca-loader {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.jca-logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: $black;
  font-weight: 700;
  width: 200px;
  max-width: 250px;

  img {
    width: 50px;
  }
}

.jca-landing-intro {
  display: flex;
  flex-direction: column;

  &__logo {
    font-weight: 700;
    font-size: 1.5em;

    img {
      width: 100px;
      margin-left: -20px;
    }

    span {
      font-weight: 400;
      font-size: 0.6em;
    }
  }

  &__text {
    margin-bottom: 20px;
  }

  &__cta {
    display: flex;
    align-items: center;

    a {
      display: inline-block;
      margin-right: 20px;
      text-transform: uppercase;
    }
  }
}
