.jca-content {
  padding-top: $default_padding;
  padding-bottom: $default_padding;
  padding-left: 15px;
  flex: 1;
  max-width: calc(100% - 60px);

  @include breakpoint(lg) {
    max-width: calc(100% - 320px);
  }
}
