.jca-main {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - $topbar_height);
  width: 100%;
  min-width: 100vw;
  overflow-y: scroll;

  &--columns {
    flex-direction: column;
  }

  &--scrollable {
    overflow-y: scroll;
  }

  &__content {
    display: flex;
    width: 100%;
  }
}
