.jca-section {
  width: 100%;
  overflow: hidden;

  &--full-page {
    min-height: 100vh;
  }

  &--first {
    min-height: calc(100vh - 70px) !important;
  }

  &--center {
    display: flex;
    align-items: center;
  }
}
