.jca-topbar {
  display: flex;
  width: 100%;
  background-color: $white;
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(248,249,250,1) 100%); 
  box-shadow: $dark_shadow;
  height: $topbar_height;
  max-height: $topbar_height;
  z-index: 100;
  margin-bottom: 20px;

  &--transparent {
    background: none;
    color: $black;
    box-shadow: none;
  }

  &--fixed {
    position: fixed;
    top: 0;
    width: 100%;
  }

  &__nav {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    list-style: none;
    color: $black;

    &-content {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 20px;
    
      a {
        text-decoration: none;
        color: $black;
      }
    }
  
    &-item {
      height: 100%;
      font-weight: 700;
    
      .dropdown-menu {
        padding: 0;
        margin: 0;
        box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);
        border: none;
        margin-top: 10px;
      }
    
      .dropdown-item {
        font-size: 0.9em;
        padding: 15px 8px;
        display: flex;
        border-bottom: 1px dashed rgba(0, 0, 0, 0.15);
        align-items: center;
        overflow: hidden;


        &__icon {
          flex: 1;
          max-width: 30px;
          font-size: 1.2em;

        }

        &:last-child {
          border-bottom: none;
        }
      }
    }

    &-icon {
      font-size: 1.5em;
      margin-right: 10px;
    }
  }
}
