<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>JCA UI KIT</title>
  <link href="../css/jca-ui-kit.min.css" rel="stylesheet">
</head>

<body>
  <div class="jca-loader" data-body="loader">
    <img src="../img/loader.svg" />
    <p>... LOADING ...</p>
  </div>

  <div class="jca-layout d-none" data-body="content">
    <div class="jca-topbar">
      <div class="container-fluid d-flex">
        <div class="jca-logo">
          <a href="../index.html">
            <img src="../img/logo.svg" />
            JCA UI KIT
            <span class="jca-logo__version" data-version></span>
          </a>
        </div>
        <ul class="jca-topbar__nav">
          <li class="jca-topbar__nav-item">
            <div class="jca-topbar__nav-content">
              <ion-icon class="jca-topbar__nav-icon" name="home-outline"></ion-icon>
              <a href="./home.html">Home</a>
            </div>
          </li>

          <li class="jca-topbar__nav-item">
            <div class="jca-topbar__nav-content">
              <ion-icon class="jca-topbar__nav-icon" name="browsers-outline"></ion-icon>
              <a href="./getting-started.html">Getting Started</a>
            </div>
          </li>

          <li class="jca-topbar__nav-item">
            <div class="jca-topbar__nav-content">
              <ion-icon class="jca-topbar__nav-icon" name="code-download-outline"></ion-icon>
              <a href="#">Download</a>
            </div>
          </li>

          <li class="jca-topbar__nav-item dropdown">
            <div class="jca-topbar__nav-content dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <ion-icon class="jca-topbar__nav-icon" name="bonfire-outline"></ion-icon>
              <a href="#">Showcase</a>
            </div>
            <div class="dropdown-menu animated fadeInUp" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Logout</a>
            </div>
          </li>
        </ul>
      </div>
    </div>

    {% import 'macros/pageHeader.njk' as pageHeader %}
    <div class="jca-main" data-scrollbar>
      {% block jca_page_header %} {% endblock %}
        
      <div class="jca-main__content">
        <div class="container-fluid d-flex">
          {% import 'macros/sidebar.njk' as nav %}
          {% block jca_sidebar %} {% endblock %}
          
          <div class="jca-content">
            {% block jca_content %} {% endblock %}
          </div>
        </div>
      </div>

      {% include "partials/footer.njk" %}
    </div>

  </div>

  <script type="module" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule="" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js" integrity="sha512-ubuT8Z88WxezgSqf3RLuNi5lmjstiJcyezx34yIU2gAHonIi27Na7atqzUZCOoY4CExaoFumzOsFQ2Ch+I/HCw==" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script type="text/javascript" src="../js/jca-ui-kit.min.js"></script>
  <script type="text/javascript" src="../js/custom.min.js"></script>
</body>
</html>