<!DOCTYPE html>
<html lang="en">
<head>
  <title>JCA UI KIT</title>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link href="../css/jca-ui-kit.min.css" rel="stylesheet">
  <link rel='icon' href='../images/favicon.ico' type='image/x-icon'/ >
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">
</head>

<body>
  <div class="jca-loader" data-body="loader">
    <img src="../images/loader.svg" />
    <p>... LOADING ...</p>
  </div>

  <div class="jca-layout d-none" data-body="content">
    <div class="jca-topbar">
      <div class="container-fluid d-flex">
        <div class="jca-logo">
          <a href="../index.html">
            <img src="../images/logo.svg" />
            JCA UI KIT
            <span class="jca-logo__version" data-version></span>
          </a>
        </div>
        <ul class="jca-topbar__nav">
          <li class="jca-topbar__nav-item">
            <div class="jca-topbar__nav-content">
              <ion-icon class="jca-topbar__nav-icon" name="home-outline"></ion-icon>
              <a href="./home.html">Home</a>
            </div>
          </li>

          <li class="jca-topbar__nav-item">
            <div class="jca-topbar__nav-content">
              <ion-icon class="jca-topbar__nav-icon" name="browsers-outline"></ion-icon>
              <a href="./getting-started.html">Getting Started</a>
            </div>
          </li>

          <li class="jca-topbar__nav-item dropdown">
            <div class="jca-topbar__nav-content dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <ion-icon class="jca-topbar__nav-icon" name="code-download-outline"></ion-icon>
              <a href="#">Download</a>
            </div>
            <div class="dropdown-menu animated fadeInUp" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="https://github.com/thabotitus/jca-ui-kit" target="_blank">
                <ion-icon class="dropdown-item__icon" name="code-slash-outline"></ion-icon>
                Source
              </a>
              <a class="dropdown-item" href="https://github.com/thabotitus/jca-ui-kit/archive/main.zip">
                <ion-icon class="dropdown-item__icon" name="archive-outline"></ion-icon>
                Zip
              </a>
            </div>
          </li>

          <li class="jca-topbar__nav-item dropdown d-non">
            <div class="jca-topbar__nav-content">
              <ion-icon class="jca-topbar__nav-icon" name="bonfire-outline"></ion-icon>
              <a href="./showcase.html">Showcase</a>
            </div>
          </li>
        </ul>
      </div>
    </div>

    {% import 'macros/pageHeader.njk' as pageHeader %}
    <div class="jca-main" data-scrollbar>
      {% block jca_page_header %} {% endblock %}
        
      <div class="jca-main__content">
        <div class="container-fluid d-flex">
          {% import 'macros/sidebar.njk' as nav %}
          {% block jca_sidebar %} {% endblock %}
          
          <div class="jca-content">
            {% block jca_content %} {% endblock %}
          </div>
        </div>
      </div>

      {% include "partials/footer.njk" %}
    </div>

  </div>

  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript" src="../js/app.min.js"></script>
  <script type="text/javascript" src="../js/custom.min.js"></script>
</body>
</html>