<!DOCTYPE html>
<html lang="en">
  <head>
    <title>JCA UI KIT | Landing</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href='./images/favicon.ico' rel='icon'  type='image/x-icon' />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet"> 

    <link href="./css/jca-ui-kit.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="jca-loader" data-body="loader">
      <img src="./images/loader.svg" />
      <p>... LOADING ...</p>
    </div>

    <div class="jca-layout d-none" data-body="content">
      {% block content %} {% endblock %}
    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>

    <script type="text/javascript" src="./js/app.min.js"></script>
    <script type="text/javascript" src="./js/custom.min.js"></script>
  </body>
</html>
