// BASE
@import './base/fonts';
@import './base/variables';
@import './base/layout';

// VENDOR
@import '../../node_modules/normalize.css/normalize.css';
@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import './vendor/bootstrap-theme.css';
@import './vendor/prism.css';

// CARDS
@import './components/jca-card-timeline';
@import './components/jca-nav-card';
@import './components/jca-page-header';
@import './components/jca-card-group';
@import './components/jca-card';
@import './components/jca-card-tags';
@import './components/jca-card-pricing';
@import './components/jca-card-feed';
@import './components/jca-card-notifications';
@import './components/jca-card-one-time-pin';
@import './components/jca-credit-card';

// MISC
@import './components/jca-code-reference';
@import './components/jca-list';
@import './components/jca-pagination';
@import './components/jca-datatable';
@import './components/jca-info-card';
@import './components/jca-conversation';
@import './components/jca-accordion';

// UTILITIES
@import './utilities/jca-keyword';
@import './utilities/jca-helpers';

// OVERRIDES
@import './overrides/btn';
@import './overrides/container';

body * {
  font-family: $base_font;
  box-sizing: border-box;
}

body {
  background-color: $grey;
  color: $black;
  font-size: 14px;
}
