// VENDOR
@import './vendor/justconnect.bootstrap.theme';
@import './vendor/prism.css';

// BASE
@import './base/fonts';
@import './base/variables';
@import './base/layout';
@import './base/mixins';



// CARDS
@import './components/jca-card-timeline';
@import './components/jca-nav-card';
@import './components/jca-page-header';
@import './components/jca-card-group';
@import './components/jca-card';
@import './components/jca-card-tags';
@import './components/jca-card-pricing';
@import './components/jca-card-feed';
@import './components/jca-card-notifications';
@import './components/jca-card-one-time-pin';
@import './components/jca-credit-card';

// MISC
@import './components/jca-code-reference';
@import './components/jca-list';
@import './components/jca-pagination';
@import './components/jca-datatable';
@import './components/jca-info-card';
@import './components/jca-conversation';
@import './components/jca-accordion';
@import './components/jca-table';
@import './components/jca-data-card';
@import './components/jca-ordered-list';

// UTILITIES
@import './utilities/jca-keyword';
@import './utilities/jca-helpers';
@import './utilities/jca-label';

// OVERRIDES
@import './overrides/btn';
@import './overrides/container';
@import './overrides/dropdown';

body * {
  font-family: $base_font;
  box-sizing: border-box;
}

body {
  background-color: $grey;
  color: $black;
  font-size: 14px;
}
