{% extends "dashboard.njk" %}

{% block jca_sidebar %}
  {{nav.active('credit-card')}}
{% endblock %}

{% block jca_content %}
  <div class="row">
    <div class="col-md-12">
      <div class="jca-page-header">
        <div class="jca-page-header__title">
          <ion-icon class="jca-page-header__icon" name="card-outline"></ion-icon>
          Credit Card
        </div>
        <div class="jca-page-header__subtitle">
          Card stylised as a bank card
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="jca-code-reference">
        <div class="jca-code-reference__example">
          <div class="jca-code-reference__description">
            A simple way to present a credit card with details. Card information fields are inputs with masks.
            Find more gradients at <a class="text-light text-bold" href="https://gradienta.io/" target="_blank">Gradienta</a>!
            It should go without saying that none of these details are real.
          </div>
          <div class="jca-code-reference__visual">
            <h6>No Gradient</h6>
            <div class="jca-credit-card">
              <div class="jca-credit-card__logo">
                <img src="https://res.cloudinary.com/duvwrnkqj/image/upload/v1592400887/Logos/logo_ju15fw.png" alt="Visa logo">
                <div class="jca-credit-card__type">Credit</div>
              </div>
              <div class="jca-credit-card__card-number">
                <input type="text" value="4510 6459 8301 6543" data-mask="visa" />
              </div>
              <div class="jca-credit-card__meta">
                <div class="jca-credit-card__owner">
                  <div class="jca-credit-card__label">Card Holder</div>
                  <div class="jca-credit-card__text">
                    <input type="text" value="Don Cheadle" />
                  </div>
                </div>
                <div class="jca-credit-card__expiry">
                  <div class="jca-credit-card__label">Expiry Date</div>
                  <div class="jca-credit-card__text">
                    <input class="jca-credit-card__month" type="text" value="03" />
                    <input class="jca-credit-card__year" type="text" value="2021" />
                  </div>
                </div>
                <div class="jca-credit-card__cvv">
                  <div class="jca-credit-card__label">Cvv</div>
                  <div class="jca-credit-card__text">
                    <input class="jca-credit-card__cvv-digits" type="text" value="359" data-mask="cvv" />
                  </div>
                </div>
              </div>
            </div>

            <h6>Gradient 1</h6>
            <div class="jca-credit-card jca-credit-card--gradient-1">
              <div class="jca-credit-card__logo">
                <img src="https://res.cloudinary.com/duvwrnkqj/image/upload/v1592400887/Logos/logo_ju15fw.png" alt="Visa logo">
                <div class="jca-credit-card__type">Credit</div>
              </div>
              <div class="jca-credit-card__card-number">
                <input type="text" value="3173 9164 6197 1610 117" data-mask="visa" />
              </div>
              <div class="jca-credit-card__meta">
                <div class="jca-credit-card__owner">
                  <div class="jca-credit-card__label">Card Holder</div>
                  <div class="jca-credit-card__text">
                    <input type="text" value="Will Smith" />
                  </div>
                </div>
                <div class="jca-credit-card__expiry">
                  <div class="jca-credit-card__label">Expiry Date</div>
                  <div class="jca-credit-card__text">
                    <input class="jca-credit-card__month" type="text" value="01" />
                    <input class="jca-credit-card__year" type="text" value="2022" />
                  </div>
                </div>
                <div class="jca-credit-card__cvv">
                  <div class="jca-credit-card__label">Cvv</div>
                  <div class="jca-credit-card__text">
                    <input class="jca-credit-card__cvv-digits" type="text" value="790" data-mask="cvv" />
                  </div>
                </div>
              </div>
            </div>

            <h6>Gradient 2</h6>
            <div class="jca-credit-card jca-credit-card--gradient-2">
              <div class="jca-credit-card__logo">
                <img src="https://res.cloudinary.com/duvwrnkqj/image/upload/v1592416321/Logos/iu_molpuv.png" alt="Visa logo">
                <div class="jca-credit-card__type">Debit</div>
              </div>
              <div class="jca-credit-card__card-number">
                
                <input type="text" value="3534 5695 0046 6811" data-mask="mastercard" />
              </div>
              <div class="jca-credit-card__meta">
                <div class="jca-credit-card__owner">
                  <div class="jca-credit-card__label">Card Holder</div>
                  <div class="jca-credit-card__text">
                    <input type="text" value="Jamie Foxx" />
                  </div>
                </div>
                <div class="jca-credit-card__expiry">
                  <div class="jca-credit-card__label">Expiry Date</div>
                  <div class="jca-credit-card__text">
                    <input class="jca-credit-card__month" type="text" value="10" />
                    <input class="jca-credit-card__year" type="text" value="2024" />
                  </div>
                </div>
                <div class="jca-credit-card__cvv">
                  <div class="jca-credit-card__label">Cvv</div>
                  <div class="jca-credit-card__text">
                    <input class="jca-credit-card__cvv-digits" type="text" value="736" data-mask="cvv" />
                  </div>
                </div>
              </div>
            </div>

            <h6>Gradient 3</h6>
            <div class="jca-credit-card jca-credit-card--gradient-3">
              <div class="jca-credit-card__logo">
                <img src="https://res.cloudinary.com/duvwrnkqj/image/upload/v1592416321/Logos/iu_molpuv.png" alt="Visa logo">
                <div class="jca-credit-card__type">Debit</div>
              </div>
              <div class="jca-credit-card__card-number">
                
                <input type="text" value="6377 3461 8520 6520" data-mask="mastercard" />
              </div>
              <div class="jca-credit-card__meta">
                <div class="jca-credit-card__owner">
                  <div class="jca-credit-card__label">Card Holder</div>
                  <div class="jca-credit-card__text">
                    <input type="text" value="Nelson R. Mandela" />
                  </div>
                </div>
                <div class="jca-credit-card__expiry">
                  <div class="jca-credit-card__label">Expiry Date</div>
                  <div class="jca-credit-card__text">
                    <input class="jca-credit-card__month" type="text" value="01" />
                    <input class="jca-credit-card__year" type="text" value="2020" />
                  </div>
                </div>
                <div class="jca-credit-card__cvv">
                  <div class="jca-credit-card__label">Cvv</div>
                  <div class="jca-credit-card__text">
                    <input class="jca-credit-card__cvv-digits" type="text" value="109" data-mask="cvv" />
                  </div>
                </div>
              </div>
            </div>

            <h6>Gradient 4</h6>
            <div class="jca-credit-card jca-credit-card--gradient-4">
              <div class="jca-credit-card__logo">
                <img src="https://res.cloudinary.com/duvwrnkqj/image/upload/v1592416321/Logos/iu_molpuv.png" alt="Visa logo">
                <div class="jca-credit-card__type">Debit</div>
              </div>
              <div class="jca-credit-card__card-number">
                
                <input type="text" value="6399 0032 4197 7909" id="visa" data-mask="mastercard" />
              </div>
              <div class="jca-credit-card__meta">
                <div class="jca-credit-card__owner">
                  <div class="jca-credit-card__label">Card Holder</div>
                  <div class="jca-credit-card__text">
                    <input type="text" value="Julius S. Malema" />
                  </div>
                </div>
                <div class="jca-credit-card__expiry">
                  <div class="jca-credit-card__label">Expiry Date</div>
                  <div class="jca-credit-card__text">
                    <input class="jca-credit-card__month" type="text" value="09" />
                    <input class="jca-credit-card__year" type="text" value="2024" />
                  </div>
                </div>
                <div class="jca-credit-card__cvv">
                  <div class="jca-credit-card__label">Cvv</div>
                  <div class="jca-credit-card__text">
                    <input class="jca-credit-card__cvv-digits" type="text" value="987" data-mask="cvv" />
                  </div>
                </div>
              </div>
            </div>

            <h6>Gradient 5</h6>
            <div class="jca-credit-card jca-credit-card--gradient-5">
              <div class="jca-credit-card__logo">
                <img src="https://res.cloudinary.com/duvwrnkqj/image/upload/v1592416321/Logos/iu_molpuv.png" alt="Visa logo">
                <div class="jca-credit-card__type">Debit</div>
              </div>
              <div class="jca-credit-card__card-number">
                
                <input type="text" value="3559 3416 7742 3094" id="visa" data-mask="mastercard" />
              </div>
              <div class="jca-credit-card__meta">
                <div class="jca-credit-card__owner">
                  <div class="jca-credit-card__label">Card Holder</div>
                  <div class="jca-credit-card__text">
                    <input type="text" value="Pearl Thusi" />
                  </div>
                </div>
                <div class="jca-credit-card__expiry">
                  <div class="jca-credit-card__label">Expiry Date</div>
                  <div class="jca-credit-card__text">
                    <input class="jca-credit-card__month" type="text" value="09" />
                    <input class="jca-credit-card__year" type="text" value="2024" />
                  </div>
                </div>
                <div class="jca-credit-card__cvv">
                  <div class="jca-credit-card__label">Cvv</div>
                  <div class="jca-credit-card__text">
                    <input class="jca-credit-card__cvv-digits" type="text" value="987" data-mask="cvv" />
                  </div>
                </div>
              </div>
            </div>

            <h6>Gradient 6</h6>
            <div class="jca-credit-card jca-credit-card--gradient-6">
              <div class="jca-credit-card__logo">
                <img src="https://res.cloudinary.com/duvwrnkqj/image/upload/v1592416321/Logos/iu_molpuv.png" alt="Visa logo">
                <div class="jca-credit-card__type">Debit</div>
              </div>
              <div class="jca-credit-card__card-number">
                
                <input type="text" value="8842 4554 5840 9670" id="visa" data-mask="mastercard" />
              </div>
              <div class="jca-credit-card__meta">
                <div class="jca-credit-card__owner">
                  <div class="jca-credit-card__label">Card Holder</div>
                  <div class="jca-credit-card__text">
                    <input type="text" value="Dave Chapelle" />
                  </div>
                </div>
                <div class="jca-credit-card__expiry">
                  <div class="jca-credit-card__label">Expiry Date</div>
                  <div class="jca-credit-card__text">
                    <input class="jca-credit-card__month" type="text" value="09" />
                    <input class="jca-credit-card__year" type="text" value="2024" />
                  </div>
                </div>
                <div class="jca-credit-card__cvv">
                  <div class="jca-credit-card__label">Cvv</div>
                  <div class="jca-credit-card__text">
                    <input class="jca-credit-card__cvv-digits" type="text" value="987" data-mask="cvv" />
                  </div>
                </div>
              </div>
            </div>

            <h6>Gradient 7</h6>
            <div class="jca-credit-card jca-credit-card--gradient-7">
              <div class="jca-credit-card__logo">
                <img src="https://res.cloudinary.com/duvwrnkqj/image/upload/v1592400887/Logos/logo_ju15fw.png" alt="Visa logo">
                <div class="jca-credit-card__type">Debit</div>
              </div>
              <div class="jca-credit-card__card-number">
                
                <input type="text" value="4311 0619 6023 9935" id="visa" data-mask="mastercard" />
              </div>
              <div class="jca-credit-card__meta">
                <div class="jca-credit-card__owner">
                  <div class="jca-credit-card__label">Card Holder</div>
                  <div class="jca-credit-card__text">
                    <input type="text" value="Don Laka" />
                  </div>
                </div>
                <div class="jca-credit-card__expiry">
                  <div class="jca-credit-card__label">Expiry Date</div>
                  <div class="jca-credit-card__text">
                    <input class="jca-credit-card__month" type="text" value="09" />
                    <input class="jca-credit-card__year" type="text" value="2024" />
                  </div>
                </div>
                <div class="jca-credit-card__cvv">
                  <div class="jca-credit-card__label">Cvv</div>
                  <div class="jca-credit-card__text">
                    <input class="jca-credit-card__cvv-digits" type="text" value="987" data-mask="cvv" />
                  </div>
                </div>
              </div>
            </div>

            <h6>Gradient 8</h6>
            <div class="jca-credit-card jca-credit-card--gradient-8">
              <div class="jca-credit-card__logo">
                <img src="https://res.cloudinary.com/duvwrnkqj/image/upload/v1592400887/Logos/logo_ju15fw.png" alt="Visa logo">
                <div class="jca-credit-card__type">Debit</div>
              </div>
              <div class="jca-credit-card__card-number">
                
                <input type="text" value="5061 0426 8462 5798" id="visa" data-mask="mastercard" />
              </div>
              <div class="jca-credit-card__meta">
                <div class="jca-credit-card__owner">
                  <div class="jca-credit-card__label">Card Holder</div>
                  <div class="jca-credit-card__text">
                    <input type="text" value="Halle Berry" />
                  </div>
                </div>
                <div class="jca-credit-card__expiry">
                  <div class="jca-credit-card__label">Expiry Date</div>
                  <div class="jca-credit-card__text">
                    <input class="jca-credit-card__month" type="text" value="09" />
                    <input class="jca-credit-card__year" type="text" value="2024" />
                  </div>
                </div>
                <div class="jca-credit-card__cvv">
                  <div class="jca-credit-card__label">Cvv</div>
                  <div class="jca-credit-card__text">
                    <input class="jca-credit-card__cvv-digits" type="text" value="987" data-mask="cvv" />
                  </div>
                </div>
              </div>
            </div>

            <h6>Gradient 9</h6>
            <div class="jca-credit-card jca-credit-card--gradient-9">
              <div class="jca-credit-card__logo">
                <img src="https://res.cloudinary.com/duvwrnkqj/image/upload/v1592400887/Logos/logo_ju15fw.png" alt="Visa logo">
                <div class="jca-credit-card__type">Debit</div>
              </div>
              <div class="jca-credit-card__card-number">
                
                <input type="text" value="3569 8828 1218 3000" id="visa" data-mask="mastercard" />
              </div>
              <div class="jca-credit-card__meta">
                <div class="jca-credit-card__owner">
                  <div class="jca-credit-card__label">Card Holder</div>
                  <div class="jca-credit-card__text">
                    <input type="text" value="Oprah Winfrey" />
                  </div>
                </div>
                <div class="jca-credit-card__expiry">
                  <div class="jca-credit-card__label">Expiry Date</div>
                  <div class="jca-credit-card__text">
                    <input class="jca-credit-card__month" type="text" value="09" />
                    <input class="jca-credit-card__year" type="text" value="2024" />
                  </div>
                </div>
                <div class="jca-credit-card__cvv">
                  <div class="jca-credit-card__label">Cvv</div>
                  <div class="jca-credit-card__text">
                    <input class="jca-credit-card__cvv-digits" type="text" value="987" data-mask="cvv" />
                  </div>
                </div>
              </div>
            </div>

            <h6>Gradient 10</h6>
            <div class="jca-credit-card jca-credit-card--gradient-10">
              <div class="jca-credit-card__logo">
                <img src="https://res.cloudinary.com/duvwrnkqj/image/upload/v1592400887/Logos/logo_ju15fw.png" alt="Visa logo">
                <div class="jca-credit-card__type">Debit</div>
              </div>
              <div class="jca-credit-card__card-number">
                
                <input type="text" value="5019 2128 3351 7591" id="visa" data-mask="mastercard" />
              </div>
              <div class="jca-credit-card__meta">
                <div class="jca-credit-card__owner">
                  <div class="jca-credit-card__label">Card Holder</div>
                  <div class="jca-credit-card__text">
                    <input type="text" value="Aneliswa Majozi" />
                  </div>
                </div>
                <div class="jca-credit-card__expiry">
                  <div class="jca-credit-card__label">Expiry Date</div>
                  <div class="jca-credit-card__text">
                    <input class="jca-credit-card__month" type="text" value="09" />
                    <input class="jca-credit-card__year" type="text" value="2024" />
                  </div>
                </div>
                <div class="jca-credit-card__cvv">
                  <div class="jca-credit-card__label">Cvv</div>
                  <div class="jca-credit-card__text">
                    <input class="jca-credit-card__cvv-digits" type="text" value="987" data-mask="cvv" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="jca-code-reference__code">
          <pre>
            <code class="language-html">
&lt;div class="jca-credit-card jca-credit-card--gradient-1"&gt;
&lt;div class="jca-credit-card__logo"&gt;
&lt;img src=".." alt="Visa logo"&gt;
&lt;div class="jca-credit-card__type"&gt;Credit&lt;/div&gt;
&lt;/div&gt;
&lt;div class="jca-credit-card__card-number"&gt;
&lt;input type="text" value="3173 9164 6197 1610 117" data-mask="visa" /&gt;
&lt;/div&gt;
&lt;div class="jca-credit-card__meta"&gt;
&lt;div class="jca-credit-card__owner"&gt;
&lt;div class="jca-credit-card__label"&gt;Card Holder&lt;/div&gt;
&lt;div class="jca-credit-card__text"&gt;
&lt;input type="text" value="Will Smith" /&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;div class="jca-credit-card__expiry"&gt;
&lt;div class="jca-credit-card__label"&gt;Expiry Date&lt;/div&gt;
&lt;div class="jca-credit-card__text"&gt;
&lt;input class="jca-credit-card__month" type="text" value="01" /&gt;
&lt;input class="jca-credit-card__year" type="text" value="2022" /&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;div class="jca-credit-card__cvv"&gt;
&lt;div class="jca-credit-card__label"&gt;Cvv&lt;/div&gt;
&lt;div class="jca-credit-card__text"&gt;
&lt;input class="jca-credit-card__cvv-digits" type="text" value="790" data-mask="cvv" /&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
            </code>
          </pre>
        </div>
      </div>
    </div>
  </div>
{% endblock %}