{% extends "dashboard.njk" %}

{% block jca_sidebar %}
  {{nav.active('data-card')}}
{% endblock %}

{% block jca_page_header %}
  {{
    pageHeader.details(
      'Data Card',
      'Grid style display cards',
      'barcode'
    )
  }}
{% endblock %}

{% block jca_content %}
  <div class="row">
    <div class="col-md-12">
      <div class="jca-data-card">
        <div class="jca-data-card__row">
          <div class="jca-data-card__item">
            <label class="jca-label">DATE</label>
            -
          </div>

          <div class="jca-data-card__item">
            <label class="jca-label">Duration</label>
            -
          </div>

          <div class="jca-data-card__item">
            <label class="jca-label">Start time</label>
            -
          </div>

          <div class="jca-data-card__item jca-data-card__item--last-of-row">
            <label class="jca-label">End time</label>
            -
          </div>
        </div>

        <div class="jca-data-card__row">
          <div class="jca-data-card__item">
            <label class="jca-label">PLATFORM</label>
            -
          </div>

          <div class="jca-data-card__item jca-data-card__item--last-of-row">
            <label class="jca-label">URL</label>
            -
          </div>
        </div>

        <div class="jca-data-card__row">
          <div class="jca-data-card__item">
            <label class="jca-label">ROOM</label>
            -
          </div>

          <div class="jca-data-card__item jca-data-card__item--last-of-row">
            <label class="jca-label">Assigned Consultant</label>
            -
          </div>
        </div>

        <div class="jca-data-card__row">
          <div class="jca-data-card__item jca-data-card__item--last-of-row">
            <label class="jca-label">SUBJECT</label>
            -
          </div>
        </div>

        <div class="jca-data-card__row">
          <div class="jca-data-card__item jca-data-card__item--last jca-data-card__item--last-of-row">
            <label class="jca-label">DESCRIPTION</label>
            -
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="jca-code-reference">
        <div class="jca-code-reference__code">
          <pre>
            <code class="language-html">
&lt;div class="jca-data-card"&gt;
  &lt;div class="jca-data-card__row"&gt;
    &lt;div class="jca-data-card__item"&gt;
      &lt;label class="jca-label"&gt;DATE&lt;/label&gt;
      -
    &lt;/div&gt;

    &lt;div class="jca-data-card__item"&gt;
      &lt;label class="jca-label"&gt;Duration&lt;/label&gt;
      -
    &lt;/div&gt;

    &lt;div class="jca-data-card__item"&gt;
      &lt;label class="jca-label"&gt;Start time&lt;/label&gt;
      -
    &lt;/div&gt;

    &lt;div class="jca-data-card__item jca-data-card__item--last-of-row"&gt;
      &lt;label class="jca-label"&gt;End time&lt;/label&gt;
      -
    &lt;/div&gt;
  &lt;/div&gt;

  &lt;div class="jca-data-card__row"&gt;
    &lt;div class="jca-data-card__item"&gt;
      &lt;label class="jca-label"&gt;PLATFORM&lt;/label&gt;
      -
    &lt;/div&gt;

    &lt;div class="jca-data-card__item jca-data-card__item--last-of-row"&gt;
      &lt;label class="jca-label"&gt;URL&lt;/label&gt;
      -
    &lt;/div&gt;
  &lt;/div&gt;

  &lt;div class="jca-data-card__row"&gt;
    &lt;div class="jca-data-card__item"&gt;
      &lt;label class="jca-label"&gt;ROOM&lt;/label&gt;
      -
    &lt;/div&gt;

    &lt;div class="jca-data-card__item jca-data-card__item--last-of-row"&gt;
      &lt;label class="jca-label"&gt;Assigned Consultant&lt;/label&gt;
      -
    &lt;/div&gt;
  &lt;/div&gt;

  &lt;div class="jca-data-card__row"&gt;
    &lt;div class="jca-data-card__item jca-data-card__item--last-of-row"&gt;
      &lt;label class="jca-label"&gt;SUBJECT&lt;/label&gt;
      -
    &lt;/div&gt;
  &lt;/div&gt;

  &lt;div class="jca-data-card__row"&gt;
    &lt;div class="jca-data-card__item jca-data-card__item--last jca-data-card__item--last-of-row"&gt;
      &lt;label class="jca-label"&gt;DESCRIPTION&lt;/label&gt;
      -
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
            </code>
          </pre>
        </div>
      </div>
    </div>
  </div>
{% endblock %}