{% extends "dashboard.njk" %}

{% block jca_sidebar %}
  {{nav.active('datatable')}}
{% endblock %}

{% block jca_content %}
  <div class="row">
    <div class="col-md-12">
      <div class="jca-page-header">
        <div class="jca-page-header__title">
          <ion-icon class="jca-page-header__icon" name="hardware-chip-outline"></ion-icon>
          Datatable
        </div>
        <div class="jca-page-header__subtitle">Tables with a little aromat</div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="jca-card">
        <div class="jca-card__content">
          <table class="jca-datatable stripe" class="display" style="width:100%" data-datatable="myDataTable">
            <thead>
              <tr>
                <th class="dt-left">Name</th>
                <th class="dt-left">Position</th>
                <th class="dt-left">Office</th>
                <th class="dt-left">Extn.</th>
                <th class="dt-left">Start date</th>
                <th class="dt-left">Salary</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="jca-code-reference">
        <div class="jca-code-reference__code">
          <pre>
            <code class="language-javascript">
// Source
"https://datatables.net/"

// data/datatable.json
{
  "data": [
    {
      "name": "Garrett Winters",
      "position": "Accountant",
      "office": "Tokyo",
      "extn": "8422",
      "start_date": "2011/07/25",
      "salary": "$170,750"
    }
  ],
  "columns": [
    { "data": "name" },
    { "data": "position" },
    { "data": "office" },
    { "data": "extn" },
    { "data": "start_date" },
    { "data": "salary" }
  ]
}

// Javascript
$('[data-datatable="myDataTable"]').DataTable({
  "ajax": '../data/datatable.json',
  "columns": require('../data/datatable.json').columns
});
            </code>
          </pre>
        </div>
      </div>
    </div>
  </div>
{% endblock %}