{% extends "dashboard.njk" %}

{% block jca_sidebar %}
  {{nav.active('home')}}
{% endblock %}

{% block jca_content %}
  <div class="row">
    <div class="col-md-12">
      <div class="jca-page-header">
        <div class="jca-page-header__title">
          <ion-icon class="jca-page-header__icon" name="home-outline"></ion-icon>
          Home
        </div>
        <div class="jca-page-header__subtitle">Basecamp - The kitchen sink</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="jca-card-group">
        <div class="jca-card-group__item">
          <div class="jca-card-group__title">Temperature</div>
          <div class="jca-card-group__content">10 &deg; C</div>
        </div>
        <div class="jca-card-group__item">
          <div class="jca-card-group__title">High</div>
          <div class="jca-card-group__content">
            16 &deg; C
          </div>
        </div>
        <div class="jca-card-group__item">
          <div class="jca-card-group__title">Loc</div>
          <div class="jca-card-group__content">
            4 &deg; C
          </div>
        </div>
        <div class="jca-card-group__item">
          <div class="jca-card-group__title">Weather</div>
          <div class="jca-card-group__content">
            Overcast, Heavy Showers
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <!------------------------------------------------
      LEFT COLUMN
    ------------------------------------------------->
    <div class="col-md-4">
      <div class="jca-card-feed">
        <div class="jca-card-feed__author">
          <div class="jca-card-feed__author-name">
            Anil Kuthrapali
          </div>

          <div class="jca-card-feed__author-meta">
            2 days ago
          </div>
        </div>
        <div class="jca-card-feed__content">
          Improve ashamed married expense bed her comfort pursuit mrs.
          Four time took ye your as fail lady. Up greatest am exertion or
          marianne.
        </div>
        <div class="jca-card-feed__actions">
          <a href="#" class="jca-card-feed__actions-item bg-success text-light">
            <ion-icon class="jca-card-feed__actions-icon" name="heart-outline"></ion-icon>
            Like
          </a>

          <a href="#" class="jca-card-feed__actions-item bg-primary text-light">
            <ion-icon class="jca-card-feed__actions-icon" name="bookmark-outline"></ion-icon>
            Follow
          </a>

          <a href="#" class="jca-card-feed__actions-item bg-warning text-light">
            <ion-icon class="jca-card-feed__actions-icon" name="hand-left-outline"></ion-icon>
            Report
          </a>
        </div>
      </div>

      <div class="jca-card-feed">
        <div class="jca-card-feed__author">
          <div class="jca-card-feed__author-name">
            Anil Kuthrapali
          </div>

          <div class="jca-card-feed__author-meta">
            2 days ago
          </div>
        </div>
        <div class="jca-card-feed__content">
          No depending be convinced in unfeeling he. Excellence she unaffected and too sentiments her. Rooms he
          doors there ye aware in by shall. Education remainder in so cordially. His remainder and own dejection
          daughters sportsmen. Is easy took he shed to kind.
        </div>
        <div class="jca-card-feed__media">
          <img src="https://res.cloudinary.com/duvwrnkqj/image/upload/v1591820721/pexels-photo-4173172_pouw6d.jpg" alt="">
        </div>
        <div class="jca-card-feed__actions">
          <a href="#" class="jca-card-feed__actions-item bg-success text-light">
            <ion-icon class="jca-card-feed__actions-icon" name="heart-outline"></ion-icon>
            Like
          </a>

          <a href="#" class="jca-card-feed__actions-item bg-primary text-light">
            <ion-icon class="jca-card-feed__actions-icon" name="bookmark-outline"></ion-icon>
            Follow
          </a>

          <a href="#" class="jca-card-feed__actions-item bg-warning text-light">
            <ion-icon class="jca-card-feed__actions-icon" name="hand-left-outline"></ion-icon>
            Report
          </a>
        </div>
      </div>

      <div class="jca-card-feed">
        <div class="jca-card-feed__author">
          <div class="jca-card-feed__author-name">
            Kamau Moussa
          </div>

          <div class="jca-card-feed__author-meta">
            2 days ago
          </div>
        </div>
        <div class="jca-card-feed__content">
          Fat son how smiling mrs natural expense anxious friends. Boy scale enjoy ask abode fanny being son. As
          material in learning subjects so improved feelings. Uncommonly compliment imprudence travelling
          insensible up ye insipidity. To up painted delight winding as brandon. Gay regret eat looked warmth
          easily far should now. Prospect at me wandered on extended wondered thoughts appetite to. Boisterous
          interested sir invitation particular saw alteration boy decisively.
        </div>
        <div class="jca-card-feed__actions">
          <a href="#" class="jca-card-feed__actions-item bg-success text-light">
            <ion-icon class="jca-card-feed__actions-icon" name="heart-outline"></ion-icon>
            Like
          </a>

          <a href="#" class="jca-card-feed__actions-item bg-primary text-light">
            <ion-icon class="jca-card-feed__actions-icon" name="bookmark-outline"></ion-icon>
            Follow
          </a>

          <a href="#" class="jca-card-feed__actions-item bg-warning text-light">
            <ion-icon class="jca-card-feed__actions-icon" name="hand-left-outline"></ion-icon>
            Report
          </a>
        </div>
      </div>

      <div class="jca-card-feed">
        <div class="jca-card-feed__author">
          <div class="jca-card-feed__author-name">
            Chidimma Danai
          </div>

          <div class="jca-card-feed__author-meta">
            2 days ago
          </div>
        </div>
        <div class="jca-card-feed__media">
          <img src="https://res.cloudinary.com/duvwrnkqj/image/upload/v1591820470/pexels-photo-1547248_dlwqp4.jpg"
            alt="Fitness">
        </div>
      </div>
    </div>

    <!------------------------------------------------
      MIDDLE COLUMN
    ------------------------------------------------->

    <div class="col-md-4">
      <div class="jca-card-pricing">
        <div class="jca-card-pricing__header">
          <div class="jca-card-pricing__header-main">Special Offer</div>
          <div class="jca-card-pricing__header-sub">2 years free memebership</div>
        </div>

        <div class="jca-card-pricing__price">
          <span class="jca-card-pricing__price-value">1000</span>
          <div class="jca-card-pricing__price-meta">
            <div class="jca-card-pricing__price-currency">ZAR</div>
            <div class="jca-card-pricing__price-period">monthly</div> 
          </div>
        </div>

        <div class="jca-card-pricing__features">
          <ul>
            <li>
              <ion-icon class="jca-card-pricing__icon" name="finger-print-outline"></ion-icon>
              Secure data
            </li>
            <li>
              <ion-icon class="jca-card-pricing__icon" name="albums-outline"></ion-icon>
              Unlimited Consultations
            </li>
            <li>
              <ion-icon class="jca-card-pricing__icon" name="cash-outline"></ion-icon>
              Automated Payments
            </li>
            <li>
              <ion-icon class="jca-card-pricing__icon" name="calendar-outline"></ion-icon>
              Schedule Management
            </li>
          </ul>
        </div>


        <div class="jca-card-pricing__actions">
          <a href="#" class="jca-card-pricing__actions-item bg-success text-light">
            Sign up
          </a>

          <a href="#" class="jca-card-pricing__actions-item bg-info">
            Contact Us
          </a>
        </div>
      </div>
    </div>

    <!------------------------------------------------
      RIGHT COLUMN
    ------------------------------------------------->
    <div class="col-md-4">
      <div class="jca-card-notification text-primary">
        <div class="jca-card-notification__icon">
          <ion-icon name="today-outline"></ion-icon>
        </div>
        <div class="jca-card-notification__content">
          <div class="jca-card-notification__message">
            You have a new consultation request from Tocarra with coloured text
          </div>
        </div>
      </div>

      <div class="jca-card-timeline">
        <div class="jca-card-timeline__item bg-success text-light">
          <div class="jca-card-timeline__meta">
            <div class="jca-card-timeline__icon">
              <ion-icon name="radio-button-on-outline"></ion-icon>
            </div>
            <div class="jca-card-timeline__details">
              <div class="jca-card-timeline__title">
                Coffee Date
              </div>
              <div class="jca-card-timeline__date">
                10 Jan, 2020 - 10:00 AM
              </div>
            </div>
          </div>
        </div>

        <div class="jca-card-timeline__item bg-success text-light">
          <div class="jca-card-timeline__meta">
            <div class="jca-card-timeline__icon">
              <ion-icon name="radio-button-on-outline"></ion-icon>
            </div>
            <div class="jca-card-timeline__details">
              <div class="jca-card-timeline__title">
                Feed the dog
              </div>
              <div class="jca-card-timeline__date">
                10 Jan, 2020 - 11:00 AM
              </div>
            </div>
          </div>
        </div>

        <div class="jca-card-timeline__item">
          <div class="jca-card-timeline__meta">
            <div class="jca-card-timeline__icon">
              <ion-icon name="radio-button-off-outline"></ion-icon>
            </div>
            <div class="jca-card-timeline__details">
              <div class="jca-card-timeline__title">
                Tutorial
              </div>
              <div class="jca-card-timeline__date">
                10 Jan, 2020 - 12:00 PM
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="jca-card-tags jca-card-tags--2-col m-b-20">
        <div class="jca-card-tags__header">
          Follow Us
        </div>
        <div class="jca-card-tags__items">
          <div class="jca-card-tags__item">
            # marketing
          </div>
          <div class="jca-card-tags__item">
            # digital
          </div>
          <div class="jca-card-tags__item">
            # marketing
          </div>
          <div class="jca-card-tags__item">
            # marketing 101
          </div>
          <div class="jca-card-tags__item">
            # marketing digital
          </div>
          <div class="jca-card-tags__item">
            # ngành marketing
          </div>
          <div class="jca-card-tags__item">
            # marketing online
          </div>
          <div class="jca-card-tags__item">
            # marketing strategy
          </div>
          <div class="jca-card-tags__item">
            # social media marketing
          </div>
          <div class="jca-card-tags__item">
            # nghề marketing
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}