{% extends "dashboard.njk" %}

{% block jca_sidebar %}
  {{nav.active('one-time-pin')}}
{% endblock %}

{% block jca_content %}
  <div class="row">
    <div class="col-md-12">
      <div class="jca-page-header">
        <div class="jca-page-header__title">
          <ion-icon class="jca-page-header__icon" name="calculator-outline"></ion-icon>
          One Time Pin
        </div>
        <div class="jca-page-header__subtitle">
          One time pin inputs from online transactions
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="jca-code-reference">
        <div class="jca-code-reference__example">
          <div class="jca-code-reference__description">
            A simple way to present one time pin
          </div>
          <div class="jca-code-reference__visual">
            <div class="jca-card-otp">
              <div class="jca-card-otp__icon">
                <ion-icon name="finger-print-outline"></ion-icon>
              </div>
              <div class="jca-card-otp__text">
                Please enter the one time pin sent to *******789
              </div>
              <div class="jca-card-otp__input">
                <input type="text" value="12345" />
              </div>
              <div class="jca-card-otp__action">
                <div class="btn btn-success">Submit</div>
              </div>
            </div>
          </div>
        </div>
        <div class="jca-code-reference__code">
          <pre>
            <code class="language-html">
&lt;div class="jca-card-otp"&gt;
  &lt;div class="jca-card-otp__icon"&gt;
    &lt;ion-icon name="finger-print-outline"&gt;&lt;/ion-icon&gt;
  &lt;/div&gt;
  &lt;div class="jca-card-otp__text"&gt;
    Please enter the one time pin sent to *******789
  &lt;/div&gt;
  &lt;div class="jca-card-otp__input"&gt;
    &lt;input type="text" /&gt;
  &lt;/div&gt;
  &lt;div class="jca-card-otp__action"&gt;
    &lt;div class="btn btn-success"&gt;Submit&lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
            </code>
          </pre>
        </div>
      </div>
    </div>
  </div>
{% endblock %}