{% extends "dashboard.njk" %}

{% block jca_sidebar %}
  {{nav.active('pagination')}}
{% endblock %}

{% block jca_content %}
  <div class="row">
    <div class="col-md-12">
      <div class="jca-page-header">
        <div class="jca-page-header__title">
          <ion-icon class="jca-page-header__icon" name="git-commit-outline"></ion-icon>
          Pagination
        </div>
        <div class="jca-page-header__subtitle">Pagination is just pagination</div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="jca-code-reference">
        <div class="jca-code-reference__example">
          <div class="jca-code-reference__description">
            Pagination takes the structure of a normal list
          </div>
          <div class="jca-code-reference__visual">
            <ul class="jca-pagination">
              <li class="jca-pagination__item ca-pagination--disabled"><ion-icon name="arrow-back-outline"></ion-icon></li>
              <li class="jca-pagination__item jca-pagination--current">1</li>
              <li class="jca-pagination__item">2</li>
              <li class="jca-pagination__item">3</li>
              <li class="jca-pagination__item">4</li>
              <li class="jca-pagination__item">5</li>
              <li class="jca-pagination__item"><ion-icon name="arrow-forward-outline"></ion-icon></li>
            </ul>
          </div>
        </div>
        <div class="jca-code-reference__code">
          <pre>
            <code class="language-html">

            </code>
          </pre>
        </div>
      </div>
    </div>
  </div>
{% endblock %}