{% extends "dashboard.njk" %}

{% block jca_sidebar %}
  {{nav.active('table')}}
{% endblock %}

{% block jca_page_header %}
  {{
    pageHeader.details(
      'Table',
      'Regular Table',
      'stop'
    )
  }}
{% endblock %}

{% block jca_content %}
  <div class="row">
    <div class="col-md-12">
      <div class="jca-table">
        <div class="jca-table__row jca-table__header">
          <div class="jca-table__cell  col-4">
            Full Name
          </div>
          <div class="jca-table__cell col-2">
            Email
          </div>
          <div class="jca-table__cell col-1 text-center">
            Consultations
          </div>
          <div class="jca-table__cell col-1">
            
          </div>
        </div>

        <div class="jca-table__row">
          <div class="jca-table__cell">
            Vincent Williamson
          </div>
          <div class="jca-table__cell">
            v@noon.com
          </div>
          <div class="jca-table__cell text-center">
            3
          </div>
          <div class="jca-table__cell text-center">
            <div class="btn btn-light">New Appointment</div>
          </div>
        </div>
        <div class="jca-table__row">
          <div class="jca-table__cell">
            Donald Glover
          </div>
          <div class="jca-table__cell">
            donald@hollywood.com
          </div>
          <div class="jca-table__cell text-center">
            8
          </div>
          <div class="jca-table__cell text-center">
            <div class="btn btn-light">New Appointment</div>
          </div>
        </div>
      </div>
      <div class="jca-code-reference d-none">
        <div class="jca-code-reference__example">
          <div class="jca-code-reference__visual">
            
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="jca-code-reference">
        <div class="jca-code-reference__code">
          <pre>
            <code class="language-html">
&lt;div class="jca-table"&gt;
  &lt;div class="jca-table__row jca-table__header"&gt;
    &lt;div class="jca-table__cell  col-4"&gt;
      Full Name
    &lt;/div&gt;
    &lt;div class="jca-table__cell col-2"&gt;
      Email
    &lt;/div&gt;
    &lt;div class="jca-table__cell col-1 text-center"&gt;
      Consultations
    &lt;/div&gt;
    &lt;div class="jca-table__cell col-1"&gt;
      
    &lt;/div&gt;
  &lt;/div&gt;

  &lt;div class="jca-table__row"&gt;
    &lt;div class="jca-table__cell"&gt;
      Vincent Williamson
    &lt;/div&gt;
    &lt;div class="jca-table__cell"&gt;
      v@noon.com
    &lt;/div&gt;
    &lt;div class="jca-table__cell text-center"&gt;
      3
    &lt;/div&gt;
    &lt;div class="jca-table__cell text-center"&gt;
      &lt;div class="btn btn-light"&gt;New Appointment&lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class="jca-table__row"&gt;
    &lt;div class="jca-table__cell"&gt;
      Donald Glover
    &lt;/div&gt;
    &lt;div class="jca-table__cell"&gt;
      donald@hollywood.com
    &lt;/div&gt;
    &lt;div class="jca-table__cell text-center"&gt;
      8
    &lt;/div&gt;
    &lt;div class="jca-table__cell text-center"&gt;
      &lt;div class="btn btn-light"&gt;New Appointment&lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
            </code>
          </pre>
        </div>
      </div>
    </div>
  </div>
{% endblock %}