{% extends "dashboard.njk" %}

{% block jca_sidebar %}
  {{nav.active('tags')}}
{% endblock %}

{% block jca_page_header %}
  {{
    pageHeader.details(
      'Tags',
      'A card full of tags',
      'pricetags'
    )
  }}
{% endblock %}

{% block jca_content %}
  <div class="row">
    <div class="col-md-12">
      <div class="jca-code-reference">
        <div class="jca-code-reference__example">
          <div class="jca-code-reference__description">
            A tag card is a grid of tags within a card. It can have 2 - 5 columns, by modifying the
            <span class="jca-keyword">jca-card-tags--[n]-col</span>
            class
          </div>
          <div class="jca-code-reference__visual">
            <h5>3 COL</h5>
            <div class="jca-card-tags jca-card-tags--3-col">
              <div class="jca-card-tags__items">
                <div class="jca-card-tags__item">
                  # marketing
                </div>
                <div class="jca-card-tags__item">
                  # digital
                </div>
                <div class="jca-card-tags__item">
                  # marketing
                </div>
                <div class="jca-card-tags__item">
                  # marketing 101
                </div>
                <div class="jca-card-tags__item">
                  # marketing digital
                </div>
                <div class="jca-card-tags__item">
                  # ngành marketing
                </div>
                <div class="jca-card-tags__item">
                  # marketing online
                </div>
                <div class="jca-card-tags__item">
                  # marketing strategy
                </div>
                <div class="jca-card-tags__item">
                  # social media marketing
                </div>
              </div>
            </div>

            <h5>4 COL</h5>
            <div class="jca-card-tags jca-card-tags--4-col">
              <div class="jca-card-tags__items">
                <div class="jca-card-tags__item">
                  # marketing
                </div>
                <div class="jca-card-tags__item">
                  # digital
                </div>
                <div class="jca-card-tags__item">
                  # marketing
                </div>
                <div class="jca-card-tags__item">
                  # marketing 101
                </div>
                <div class="jca-card-tags__item">
                  # marketing digital
                </div>
                <div class="jca-card-tags__item">
                  # ngành marketing
                </div>
                <div class="jca-card-tags__item">
                  # marketing online
                </div>
                <div class="jca-card-tags__item">
                  # marketing strategy
                </div>
                <div class="jca-card-tags__item">
                  # social media marketing
                </div>
              </div>
            </div>

            <h5>5 COL</h5>
            <div class="jca-card-tags jca-card-tags--5-col">
              <div class="jca-card-tags__items">
                <div class="jca-card-tags__item">
                  # marketing
                </div>
                <div class="jca-card-tags__item">
                  # digital
                </div>
                <div class="jca-card-tags__item">
                  # marketing
                </div>
                <div class="jca-card-tags__item">
                  # marketing 101
                </div>
                <div class="jca-card-tags__item">
                  # marketing digital
                </div>
                <div class="jca-card-tags__item">
                  # ngành marketing
                </div>
                <div class="jca-card-tags__item">
                  # marketing online
                </div>
                <div class="jca-card-tags__item">
                  # marketing strategy
                </div>
                <div class="jca-card-tags__item">
                  # social media marketing
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="jca-code-reference__code">
          <pre>
                        <code class="language-html">
  &lt;div class="jca-card-tags jca-card-tags--3-col"&gt;
    &lt;div class="jca-card-tags__items"&gt;
      &lt;div class="jca-card-tags__item"&gt;
        # marketing
      &lt;/div&gt;
      &lt;div class="jca-card-tags__item"&gt;
        # digital
      &lt;/div&gt;
      &lt;div class="jca-card-tags__item"&gt;
        # marketing
      &lt;/div&gt;
      &lt;div class="jca-card-tags__item"&gt;
        # marketing 101
      &lt;/div&gt;
      &lt;div class="jca-card-tags__item"&gt;
        # marketing digital
      &lt;/div&gt;
      &lt;div class="jca-card-tags__item"&gt;
        # ngành marketing
      &lt;/div&gt;
      &lt;div class="jca-card-tags__item"&gt;
        # marketing online
      &lt;/div&gt;
      &lt;div class="jca-card-tags__item"&gt;
        # marketing strategy
      &lt;/div&gt;
      &lt;div class="jca-card-tags__item"&gt;
        # social media marketing
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
                        </code>
                      </pre>
        </div>
      </div>
    </div>
  </div>
{% endblock %}