{% extends "dashboard.njk" %}

{% block jca_sidebar %}
  {{nav.active('vertical-timeline')}}
{% endblock %}

{% block jca_page_header %}
  {{
    pageHeader.details(
      'Timeline',
      'Visual sequence of events',
      'hourglass'
    )
  }}
{% endblock %}

{% block jca_content %}
  <div class="row">
    <div class="col-md-12">
      <div class="jca-code-reference">
        <div class="jca-code-reference__example">
          <div class="jca-code-reference__description">
            The timeline is a list with extras.
          </div>
          <div class="jca-code-reference__visual">
            <div class="jca-card-timeline text-primary">
              <div class="jca-card-timeline__header">
                <div class="jca-card__header-text">
                  The Timeline
                </div>
              </div>
              <div class="jca-card-timeline__item">
                <div class="jca-card-timeline__meta">
                  <div class="jca-card-timeline__icon">
                    <ion-icon name="cafe-outline"></ion-icon>
                  </div>
                  <div class="jca-card-timeline__details">
                    <div class="jca-card-timeline__title">
                      Coffee Date
                    </div>
                    <div class="jca-card-timeline__date">
                      10 Jan, 2020
                    </div>
                  </div>
                </div>
                <div class="jca-card-timeline__content">
                  Kath and Ashton went on a coffee date.
                </div>
              </div>

              <div class="jca-card-timeline__item">
                <div class="jca-card-timeline__meta">
                  <div class="jca-card-timeline__icon">
                    <ion-icon name="heart-dislike-outline"></ion-icon>
                  </div>
                  <div class="jca-card-timeline__details">
                    <div class="jca-card-timeline__title">
                      Breakup
                    </div>
                    <div class="jca-card-timeline__date">
                      17 Mar, 2020
                    </div>
                  </div>
                </div>
                <div class="jca-card-timeline__content">
                  As absolute is by amounted repeated entirely ye returned. These ready timed enjoy might sir yet one since. Years drift never if could forty being no. On estimable dependent as suffering on my. Rank it long have sure in room what as he.
                </div>
              </div>

              <div class="jca-card-timeline__item">
                <div class="jca-card-timeline__meta">
                  <div class="jca-card-timeline__icon">
                    <ion-icon name="medkit-outline"></ion-icon>
                  </div>
                  <div class="jca-card-timeline__details">
                    <div class="jca-card-timeline__title">
                      Doctor's appointement
                    </div>
                    <div class="jca-card-timeline__date">
                      27 Jun, 2020
                    </div>
                  </div>
                </div>
                <div class="jca-card-timeline__content">
                  At distant inhabit amongst by. Appetite welcomed interest the goodness boy not. Estimable education for disposing pronounce her. John size good gay plan sent old roof own. Inquietude saw understood his friendship frequently yet. Nature his marked ham wished.
                </div>
              </div>

              <div class="jca-card-timeline__item">
                <div class="jca-card-timeline__meta">
                  <div class="jca-card-timeline__icon">
                    <ion-icon name="glasses-outline"></ion-icon>
                  </div>
                  <div class="jca-card-timeline__details">
                    <div class="jca-card-timeline__title">
                      Visted the optometrist
                    </div>
                    <div class="jca-card-timeline__date">
                      12 Nov, 2020
                    </div>
                  </div>
                </div>
                <div class="jca-card-timeline__content">
                  At distant inhabit amongst by. Appetite welcomed interest the goodness boy not. Estimable education for disposing pronounce her. John size good gay plan sent old roof own. Inquietude saw understood his friendship frequently yet. Nature his marked ham wished.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="jca-code-reference__code">
          <pre>
                      <code class="language-html">
  &lt;div class="jca-card-timeline text-primary"&gt;
    &lt;div class="jca-card-timeline__header"&gt;
      &lt;div class="jca-card__header-text"&gt;
        the timeline
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="jca-card-timeline__item"&gt;
      &lt;div class="jca-card-timeline__meta"&gt;
        &lt;div class="jca-card-timeline__icon"&gt;
          &lt;ion-icon name="cafe-outline"&gt;&lt;/ion-icon&gt;
        &lt;/div&gt;
        &lt;div class="jca-card-timeline__details"&gt;
          &lt;div class="jca-card-timeline__title"&gt;
            coffee date
          &lt;/div&gt;
          &lt;div class="jca-card-timeline__date"&gt;
            10 jan, 2020
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class="jca-card-timeline__content"&gt;
        kath and ashton went on a coffee date.
      &lt;/div&gt;
    &lt;/div&gt;
  
    &lt;div class="jca-card-timeline__item"&gt;
      &lt;div class="jca-card-timeline__meta"&gt;
        &lt;div class="jca-card-timeline__icon"&gt;
          &lt;ion-icon name="heart-dislike-outline"&gt;&lt;/ion-icon&gt;
        &lt;/div&gt;
        &lt;div class="jca-card-timeline__details"&gt;
          &lt;div class="jca-card-timeline__title"&gt;
            breakup
          &lt;/div&gt;
          &lt;div class="jca-card-timeline__date"&gt;
            17 mar, 2020
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class="jca-card-timeline__content"&gt;
        as absolute is by amounted repeated entirely ye returned. these ready timed enjoy might sir yet one since. years drift never if could forty being no. on estimable dependent as suffering on my. rank it long have sure in room what as he.
      &lt;/div&gt;
    &lt;/div&gt;
  
    &lt;div class="jca-card-timeline__item"&gt;
      &lt;div class="jca-card-timeline__meta"&gt;
        &lt;div class="jca-card-timeline__icon"&gt;
          &lt;ion-icon name="medkit-outline"&gt;&lt;/ion-icon&gt;
        &lt;/div&gt;
        &lt;div class="jca-card-timeline__details"&gt;
          &lt;div class="jca-card-timeline__title"&gt;
            doctor's appointement
          &lt;/div&gt;
          &lt;div class="jca-card-timeline__date"&gt;
            27 jun, 2020
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class="jca-card-timeline__content"&gt;
        at distant inhabit amongst by. appetite welcomed interest the goodness boy not. estimable education for disposing pronounce her. john size good gay plan sent old roof own. inquietude saw understood his friendship frequently yet. nature his marked ham wished.
      &lt;/div&gt;
    &lt;/div&gt;
  
    &lt;div class="jca-card-timeline__item"&gt;
      &lt;div class="jca-card-timeline__meta"&gt;
        &lt;div class="jca-card-timeline__icon"&gt;
          &lt;ion-icon name="glasses-outline"&gt;&lt;/ion-icon&gt;
        &lt;/div&gt;
        &lt;div class="jca-card-timeline__details"&gt;
          &lt;div class="jca-card-timeline__title"&gt;
            visted the optometrist
          &lt;/div&gt;
          &lt;div class="jca-card-timeline__date"&gt;
            12 nov, 2020
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class="jca-card-timeline__content"&gt;
        at distant inhabit amongst by. appetite welcomed interest the goodness boy not. estimable education for disposing pronounce her. john size good gay plan sent old roof own. inquietude saw understood his friendship frequently yet. nature his marked ham wished.
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
                      </code>
                    </pre>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="row">
              <div class="col-md-12">
                <div class="jca-code-reference">
                  <div class="jca-code-reference__example">
                    <div class="jca-code-reference__description">
                      it doesn't need a header
                    </div>
                    <div class="jca-code-reference__visual">
                      <div class="jca-card-timeline">
                        <div class="jca-card-timeline__item">
                          <div class="jca-card-timeline__meta">
                            <div class="jca-card-timeline__icon">
                              <ion-icon name="cafe-outline"></ion-icon>
                            </div>
                            <div class="jca-card-timeline__details">
                              <div class="jca-card-timeline__title">
                                coffee date
                              </div>
                              <div class="jca-card-timeline__date">
                                10 jan, 2020
                              </div>
                            </div>
                          </div>
                          <div class="jca-card-timeline__content">
                            kath and ashton went on a coffee date.
                          </div>
                        </div>
            
                        <div class="jca-card-timeline__item text-danger">
                          <div class="jca-card-timeline__meta">
                            <div class="jca-card-timeline__icon">
                              <ion-icon name="heart-dislike-outline"></ion-icon>
                            </div>
                            <div class="jca-card-timeline__details">
                              <div class="jca-card-timeline__title">
                                breakup
                              </div>
                              <div class="jca-card-timeline__date">
                                17 mar, 2020
                              </div>
                            </div>
                          </div>
                          <div class="jca-card-timeline__content">
                            as absolute is by amounted repeated entirely ye returned. these ready timed enjoy might sir yet one since. years drift never if could forty being no. on estimable dependent as suffering on my. rank it long have sure in room what as he.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="jca-code-reference__code">
                    <pre>
                      <code class="language-html">
  &lt;div class="jca-card-timeline"&gt;
    &lt;div class="jca-card-timeline__item"&gt;
      &lt;div class="jca-card-timeline__meta"&gt;
        &lt;div class="jca-card-timeline__icon"&gt;
          &lt;ion-icon name="cafe-outline"&gt;&lt;/ion-icon&gt;
        &lt;/div&gt;
        &lt;div class="jca-card-timeline__details"&gt;
          &lt;div class="jca-card-timeline__title"&gt;
            coffee date
          &lt;/div&gt;
          &lt;div class="jca-card-timeline__date"&gt;
            10 jan, 2020
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class="jca-card-timeline__content"&gt;
        kath and ashton went on a coffee date.
      &lt;/div&gt;
    &lt;/div&gt;
  
    &lt;div class="jca-card-timeline__item text-danger"&gt;
      &lt;div class="jca-card-timeline__meta"&gt;
        &lt;div class="jca-card-timeline__icon"&gt;
          &lt;ion-icon name="heart-dislike-outline"&gt;&lt;/ion-icon&gt;
        &lt;/div&gt;
        &lt;div class="jca-card-timeline__details"&gt;
          &lt;div class="jca-card-timeline__title"&gt;
            breakup
          &lt;/div&gt;
          &lt;div class="jca-card-timeline__date"&gt;
            17 mar, 2020
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class="jca-card-timeline__content"&gt;
        as absolute is by amounted repeated entirely ye returned. these ready timed enjoy might sir yet one since. years drift never if could forty being no. on estimable dependent as suffering on my. rank it long have sure in room what as he.
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
                      </code>
                    </pre>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="jca-code-reference">
        <div class="jca-code-reference__example">
          <div class="jca-code-reference__description">
            It can also be used as a checklist
          </div>
          <div class="jca-code-reference__visual">
            <div class="jca-card-timeline">
              <div class="jca-card-timeline__item">
                <div class="jca-card-timeline__meta">
                  <div class="jca-card-timeline__icon">
                    1
                  </div>
                  <div class="jca-card-timeline__details">
                    <div class="jca-card-timeline__title">
                      Coffee Date
                    </div>
                    <div class="jca-card-timeline__date">
                      10 Jan, 2020
                    </div>
                  </div>
                </div>
              </div>

              <div class="jca-card-timeline__item text-light bg-danger">
                <div class="jca-card-timeline__meta">
                  <div class="jca-card-timeline__icon">
                    2
                  </div>
                  <div class="jca-card-timeline__details">
                    <div class="jca-card-timeline__title">
                      Breakup
                    </div>
                    <div class="jca-card-timeline__date">
                      17 Mar, 2020
                    </div>
                  </div>
                </div>
              </div>

              <div class="jca-card-timeline__item text-light bg-success">
                <div class="jca-card-timeline__meta">
                  <div class="jca-card-timeline__icon">
                    3
                  </div>
                  <div class="jca-card-timeline__details">
                    <div class="jca-card-timeline__title">
                      Tutorial
                    </div>
                    <div class="jca-card-timeline__date">
                      17 Mar, 2020
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="jca-code-reference__code">
          <pre>
                      <code class="language-html">
  &lt;div class="jca-card-timeline"&gt;
    &lt;div class="jca-card-timeline__item"&gt;
      &lt;div class="jca-card-timeline__meta"&gt;
        &lt;div class="jca-card-timeline__icon"&gt;
          1
        &lt;/div&gt;
        &lt;div class="jca-card-timeline__details"&gt;
          &lt;div class="jca-card-timeline__title"&gt;
            coffee date
          &lt;/div&gt;
          &lt;div class="jca-card-timeline__date"&gt;
            10 jan, 2020
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  
    &lt;div class="jca-card-timeline__item text-light bg-danger"&gt;
      &lt;div class="jca-card-timeline__meta"&gt;
        &lt;div class="jca-card-timeline__icon"&gt;
          2
        &lt;/div&gt;
        &lt;div class="jca-card-timeline__details"&gt;
          &lt;div class="jca-card-timeline__title"&gt;
            breakup
          &lt;/div&gt;
          &lt;div class="jca-card-timeline__date"&gt;
            17 mar, 2020
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  
    &lt;div class="jca-card-timeline__item text-light bg-success"&gt;
      &lt;div class="jca-card-timeline__meta"&gt;
        &lt;div class="jca-card-timeline__icon"&gt;
          3
        &lt;/div&gt;
        &lt;div class="jca-card-timeline__details"&gt;
          &lt;div class="jca-card-timeline__title"&gt;
            tutorial
          &lt;/div&gt;
          &lt;div class="jca-card-timeline__date"&gt;
            17 mar, 2020
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
                      </code>
                    </pre>
        </div>
      </div>
    </div>
  </div>
{% endblock %}