{% extends "layout.njk" %}

{% block content %}
  <div class="jca-landing">
    <div class="jca-section jca-section--full-page jca-section--center">
      <div class="container">
        <div class="row justify-md-cente">
          <div class="col-md-6">
            <div class="jca-landing-intro">
              <div class="jca-landing-intro__logo">
                <img src="./img/logo.svg" />
                JCA UI KIT <span data-version>v0.1.0</span>
              </div>
              <div class="jca-landing-intro__text">
                <h1>SIMPLE, CLEAN UI KIT FOR A VARIETY OF USE CASES</h1>
              </div>
              <div class="jca-landing-intro__cta">
                <a href="./pages/home.html">Take a look</a>
                <ion-icon name="arrow-forward-circle-outline" size="large"></ion-icon>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="jca-card-notification text-primary">
              <div class="jca-card-notification__icon">
                <ion-icon name="today-outline"></ion-icon>
              </div>
              <div class="jca-card-notification__content">
                <div class="jca-card-notification__message">
                  You have a new consultation request from Tocarra with coloured text
                </div>
              </div>
            </div>

            <div class="jca-card-feed">
              <div class="jca-card-feed__author">
                <div class="jca-card-feed__author-name">
                  Anil Kuthrapali
                </div>

                <div class="jca-card-feed__author-meta">
                  2 days ago
                </div>
              </div>
              <div class="jca-card-feed__content">
                No depending be convinced in unfeeling he. Excellence she unaffected and too sentiments her. Rooms he
                doors there ye aware in by shall. Education remainder in so cordially. His remainder and own dejection
                daughters sportsmen. Is easy took he shed to kind.
              </div>
              <div class="jca-card-feed__actions">
                <a href="#" class="jca-card-feed__actions-item bg-success text-light">
                  <ion-icon class="jca-card-feed__actions-icon" name="heart-outline"></ion-icon>
                  Like
                </a>

                <a href="#" class="jca-card-feed__actions-item bg-primary text-light">
                  <ion-icon class="jca-card-feed__actions-icon" name="bookmark-outline"></ion-icon>
                  Follow
                </a>

                <a href="#" class="jca-card-feed__actions-item bg-warning text-light">
                  <ion-icon class="jca-card-feed__actions-icon" name="hand-left-outline"></ion-icon>
                  Report
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}