$black:             #262626;
$white:             #fff;
$grey:              #f8f9fa;
$blue:              #007bff;
$indigo:            #6610f2;
$purple:            #6f42c1;
$pink:              #e83e8c;
$red:               #dc3545;
$orange:            #fd7e14;
$yellow:            #ffc107;
$green:             #28a745;
$teal:              #20c997;
$cyan:              #17a2b8;
$gray:              #6c757d;
$gray-dark:         #343a40;

$primary:           #083358;
$secondary:         #f67280;
$success:           #0074e4;
$info:              #74dbef;
$warning:           #fc3c3c;
$danger:            #ff4057;
$light:             #f2f2f0;
$dark:              #072247;

$base_font_size:      14px;
$base_font:           'Montserrat', sans-serif;

$default_padding:     30px;
$light_padding:       20px;
$heavy_padding:       40px;
$default_radius:      4px;
$dark_shadow:         0 0 25px rgba(0, 0, 0, 0.1), 0 15px 12px rgba(0, 0, 0, 0.04);
$default_shadow:      3px 3px 10px 4px rgba(218, 224, 228, 0.4);
// $default_shadow:      0 5px 15px rgba(0,0,0,.1),0 15px 35px rgba(0,0,0,.1),0 50px 100px rgba(50,50,93,.1);
$default_border:      1px dashed transparentize($black, 0.9);

$topbar_height:       70px;
