$black:             #262626;
$white:             #ffffff;
$grey:              #F8F9FA;


$base_font_size:      14px;
$base_font:           'Montserrat', sans-serif;

$default_padding:     30px;
$light_padding:       20px;
$heavy_padding:       40px;
$default_radius:      4px;